<main role="main" *ngIf="!isAdmin" style="padding-top: 90px;" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h3>Não autorizado</h3>
</main>

<main *ngIf="isAdmin" style="padding-top: 90px;" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h2>Empresas</h2>
    <!-- <input type="text" id="filtro" onkeyup="buscaEmpresa()" placeholder="Razão social"> -->
    <div class="table-responsive">
        <table id="tabela" class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Razão social</th>
                    <th>CNPJ</th>
                    <th>Filiado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empresa of empresas">
                    <td>{{empresa.razao_social}}</td>
                    <td>{{empresa.cnpj}}</td>
                    <td *ngIf="empresa.filiado">Sim</td>
                    <td *ngIf="!empresa.filiado">Não</td>
                    <td><button (click)="verEmpresa(empresa.cnpj)" type="button"
                        class="btn btn-block btn-outline-success">Ver empresa</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>