<div class="py-5 text-center" style="padding-top: 90px;">
    <h2>Primeiro contato</h2>
    <p class="lead">Nos envie informações primárias para que possamos analisar se sua empresa se encaixa no nosso
        perfil de anunciantes</p>
</div>

<form #form="ngForm" (submit)="enviaEmail()">
    <div class="input-group mb-3">
        <input type="text" name="razao_social" class="form-control" aria-label="razao-social" placeholder="Razão social" 
            [(ngModel)]="contato.razao_social" required>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email-primeiro-contato" placeholder="Email para contato" name="email"
        [(ngModel)]="contato.email" required>
    </div>
    <div class="form-group">
        <label for="tipo-produto">Tipo de produto</label>
        <select class="form-control" id="tipo-produto-select" name="tipo_produto" [(ngModel)]="contato.tipo_produto" required>
            <option *ngFor="let tipo_produto of catalogo">{{tipo_produto}}</option>
        </select>
    </div>
    <div class="py-5 text-center">
        <p class="lead">Entraremos em contato através do endereço de email informado, portanto,
            verifique o email informado e fique atento ao email nos próximos dias.
        </p>
        <input class="btn-lg btn-success" type="submit">
    </div>
</form>