<!-- <div class="container" style="padding-top: 90px;"> -->
    <div class="py-5 text-center" style="padding-top: 90px;">
        <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
        <h2>Primeiro contato</h2>
        <p class="lead">Nos envie informações primárias para que possamos analisar se sua empresa se encaixa no nosso
            perfil de anunciantes</p>
    </div>
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Razão social" aria-label="razao-social">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="email-primeiro-contato" placeholder="Email para contato">
        </div>
        <div class="form-group">
            <label for="tipo-produto">Tipo de produto</label>
            <select class="form-control" id="tipo-produto-select">
                <option *ngFor="let categoria of catalogo">{{categoria}}</option>
            </select>
        </div>
        <div class="py-5 text-center">
            <p class="lead">Entraremos em contato através do endereço de email informado, portanto,
                verifique o email informado e fique atento ao email nos próximos dias.
            </p>
            <input class="btn-lg btn-success" type="submit" value="Enviar">
        </div>
    </form>
<!-- </div> -->