<div class="container marketing"> <!-- .container -->
  <div *ngIf="produtosAnunciados" class="row">
    <div *ngFor="let produto of produtosFiltrados" class="col-lg-4">
      <img *ngIf="produto.thumbnail" width="100%" height="225" focusable="false" role="img" src={{produto.thumbnail}}>
      <img *ngIf="!produto.thumbnail" width="100%" height="225" focusable="false" role="img"
        src="../../assets/images/sem-imagem.jpg">
      <h2>{{produto.titulo}}</h2>
      <p>{{produto.descricao}}</p>
      <p><a class="btn btn-success" href="produto/{{produto.produto_id}}" role="button">Conheça o produto</a></p>
    </div>
  </div>
</div><!-- /.container -->