<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="../../assets/images/hardware-carousel.jpg" class="bd-placeholder-img rounded-circle" width="140"
        height="140" alt="..." focusable="false" role="img" aria-label="Placeholder: 140x140">
      <h2>Hardwares</h2>
      <p>A empresa XPTO atua no mercado de hardware etc...</p>
      <p><a class="btn btn-success" href="#" role="button">Conheça nossos produtos</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/images/software-carousel.jpg" class="bd-placeholder-img rounded-circle" width="140"
        height="140" alt="..." focusable="false" role="img" aria-label="Placeholder: 140x140">
      <h2>Softwares</h2>
      <p>A empresa XPTO atua no mercado de software etc...</p>
      <p><a class="btn btn-success" href="#" role="button">Conheça nossa equipe</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/images/seguranca-carousel.jpg" class="bd-placeholder-img rounded-circle" width="140"
        height="140" alt="..." focusable="false" role="img" aria-label="Placeholder: 140x140">
      <h2>Segurança</h2>
      <p>A empresa XPTO atua no mercado de segurança etc...</p>
      <p><a class="btn btn-success" href="#" role="button">Conheça nossos serviços</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Produtos de rede. <span class="link">Empresa X</span>
      </h2>
      <p class="lead">Trabalhamos com roteadores, cabos de rede, repetidores...</p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/images/redes.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Inteligência artificial. <span class="link">Empresa Y</span></h2>
      <p class="lead">Utilize nossas ferramentas para automatizar seus processos.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../assets/images/ia.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Servidores. <span class="link">Empresa Z</span></h2>
      <p class="lead">Alugamos servidores e trabalhamos com hospedagem de aplicações.</p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/images/servidor.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->