a {
    color: black;
}

#navbar-sinfor {
    background-color: #31d093;
}

.nav-item a.nav-link {
    color: #fff;
}

.nav-item a.dropdown-item:hover {
    color: #31d093;
}

.anuncie {
    color: #fff;
}