<header class="row justify-content-md-center">
    <nav id="navbar-sinfor" class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="col">
            <a class="navbar-brand logo" href="#">
                <img style="width: 150px" src="../../assets/images/sinfor-logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInstitucional" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Institucional
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://sinfor.org.br/quem-somos/">Quem somos</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/a-diretoria/">Diretoria</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/estatuto/">Estatuto</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/prestacao-de-contas/">Prestação de
                            contas</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/resolucoes-e-portarias/">
                            Resoluções e Portarias
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownIndustria" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Indústria de TI
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://sinfor.org.br/empresas-do-setor/">Empresas do
                            Setor</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/filiadas-sinfor/">Filiadas ao
                            Sinfor-DF</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/porque-filiar-se/">Filie-se</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/contribuicao-patronal/">Contribuição
                            Patronal</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicos" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Serviços
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://sinfor.org.br/selo-sinfor-integridade/">Programa
                            Sinfor de Integridade</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/convencao-coletiva-de-trabalho/">Convenção
                            Coletiva de
                            Trabalho</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/declaracao-de-exclusividade/">Declaração de
                            Exclusividade</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/talentos-ti/">Talentos TI</a>
                        <a class="dropdown-item" href="#">Classinforme</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/pesquisa_de_mercado/">Fintech -
                            Plataforma de Gestão</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEventos" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Eventos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://sinfor.org.br/eventos-do-sinfor-df/">Eventos do
                            Sinfor-DF</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/agenda-nacional/">Agenda Nacional</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://sinfor.org.br/beneficios/">Benefícios</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComunicacao" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Comunicação
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://sinfor.org.br/palavra-do-presidente/">Palavra do
                            Presidente</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/publicacoes-do-sinfor-df/">Publicações
                            do Sinfor/DF</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/noticias/">Notícias</a>
                        <a class="dropdown-item" href="https://sinfor.org.br/galeria-de-fotos/">Galeria de Fotos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://sinfor.org.br/contato/">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://sinfor.org.br/porque-filiar-se/">Filie-se</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <a class="anuncie modal-menu-item menu-item" href="primeiro-contato">Anuncie</a>
        </div>
    </nav>
</header>