<div *ngIf="!isLogado">
    <h2>Não autorizado</h2>
</div>

<div *ngIf="isLogado" class="container" style="padding-top: 70px;">
    <div class="py-5 text-center">
        <h2>Cadastro de anúncio</h2>
        <p class="lead">Cadastre seu anúncio e receba o boleto via email. Plano selecionado: <b>{{anuncio.plano}}</b></p>
    </div>
    <form #form="ngForm" (submit)="cadastraAnuncio()">
        <label for="produto">Produto</label>
        <div>
            <small class="text-muted">Essa lista é populada com os produtos cadastrados pela sua empresa</small>
        </div>
        <div class="input-group mb-3">
            <select class="form-control" id="produto-select" name="produto_id" [(ngModel)]="anuncio.produto_id"
                required>
                <option [value]="produto.produto_id" *ngFor="let produto of produtos">{{produto.titulo}}</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email secundário para contato" name="email"
                [(ngModel)]="anuncio.email" required>
        </div>
        <div class="input-group mb-5">
            <input [disabled]="form.invalid || anuncioCadastrado" class="btn-lg btn-outline-success" type="submit">
            <span *ngIf="anuncioCadastrado" class="alert alert-success" role="alert" style="margin-left: 40px;">
                {{mensagem}}
            </span>
        </div>
    </form>
</div>