<div *ngIf="!isLogado">
    <h2>Não autorizado</h2>
</div>
<div *ngIf="isLogado" style="margin-top: -60px;">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Planos de anúncio</h1>
        <p class="lead">Trabalhamos com planos para diferentes áreas da tela de anúncio e diferentes períodos de
            disponibilização do anúncio na plataforma. Para saber mais sobre cada plano, nos contate.
        </p>
    </div>

    <div *ngFor="let plano of planos" class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm" id="plano-{{plano.id}}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{plano.titulo}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">R$ {{plano.preco}} <small class="text-muted">/ mês</small></h1>
                <p>{{plano.descricao}}</p>
                <!-- <ul class="list-unstyled mt-3 mb-4">
                    <li>Posição X;</li>
                    <li>Contém descrição em texto e uma imagem;</li>
                    <li>Sem envio de email para potenciais clientes;</li>
                    <li>Suporte via email.</li>
                </ul> -->
                <button (click)="cadastrarAnuncio(plano.tipo)" type="button"
                    class="btn btn-lg btn-block btn-outline-success">Anuncie</button>
            </div>
        </div>
    </div>
</div>