<div class="container" style="padding-top: 70px;">
    <div class="py-5 text-center">
        <h2>Cadastro</h2>
        <p class="lead">Cadastre sua empresa para poder publicar anúncios em nossa plataforma.</p>
    </div>
    <form #form="ngForm" (submit)="cadastraEmpresa()" style="margin-top: -30px;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="cod_sinfor" placeholder="Código sinfor" name="cod_sinfor"
                [(ngModel)]="empresa.cod_sinfor" maxlength="15">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="cnpj" placeholder="CNPJ" name="cnpj" [(ngModel)]="empresa.cnpj" mask="00.000.000/0000-00"
                required>
        </div>
        <small id="senha-label" class="form-text text-muted">Essa senha será utilizada para cadastro de seus
            anúncios</small>
        <div class="input-group mb-3">
            <input type="password" class="form-control" id="senha" placeholder="Senha" name="senha" minlength="6"
                [(ngModel)]="empresa.senha" required>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="razao_social" placeholder="Razão Social" name="razao_social" maxlength="60"
                [(ngModel)]="empresa.razao_social" required>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="cep" placeholder="CEP" name="cep" [(ngModel)]="empresa.cep" mask="00000-000"
                required>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="endereco" placeholder="Endereço" name="endereco" maxlength="120"
                [(ngModel)]="empresa.endereco" required>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="responsavel" placeholder="Responsavel" name="responsavel"
                [(ngModel)]="empresa.responsavel" required>
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                [(ngModel)]="empresa.email" required>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="telefone" placeholder="Telefone" name="telefone" mask="(00)00000-0000"
                [(ngModel)]="empresa.telefone" required>
        </div>
        <small id="secundario-label" class="form-text text-muted">Adicione o contato de mais um responsável, se achar necessário</small>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="responsavel_secundario" placeholder="Responsável secundário" name="responsavel_secundario"
                [(ngModel)]="empresa.responsavel_secundario">
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" id="email_secundario" placeholder="Email secundário" name="email_secundario" 
                [(ngModel)]="empresa.email_secundario">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="telefone_secundario" placeholder="Telefone secundário" name="telefone_secundario" mask="(00)00000-0000"
                [(ngModel)]="empresa.telefone_secundario">
        </div>
        <input [disabled]="form.invalid || empresaCadastrada" class="btn-lg btn-outline-success" type="submit" value="Cadastrar" style="margin-bottom: 20px;">
        <div *ngIf="empresaCadastrada" class="alert alert-success" role="alert" style="padding-top: 40px;">
            Empresa cadastrada
          </div>
    </form>
</div>