<div class="container">
    <nav style="padding-top: 90px;" id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="empresas">
                        Empresas 
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" routerLink="propostas">
                        Propostas
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" routerLink="anuncios">
                        Anúncios
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>