<app-carousel-produtos></app-carousel-produtos>
<div style="margin: -40px 20px 20px 20px;">
    <div class="row">
        <div class="col-10">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tipos de produto
                </button>
                <div class="dropdown-menu" style="max-width: 1500px;" aria-labelledby="dropdownMenuButton">
                    <button *ngFor="let tipo of tipos" class="dropdown-item"
                        (click)="selecionaTipo(tipo)">{{tipo}}</button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn btn-primary" type="button" (click)="limpaFiltros()">
                Limpar filtros
            </button>
        </div>
    </div>
</div>
<app-produtos [filtro]="tipoSelecionado"></app-produtos>