<main role="main" *ngIf="!isAdmin" style="padding-top: 90px;" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h3>Não autorizado</h3>
</main>
<main *ngIf="isAdmin" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="padding-top: 90px;">

    <section class="text-center">
        <div class="container">
            <h1>Plano</h1>
            <p class="lead text-muted">O plano pode ser visualizado e alterado</p>
        </div>
    </section>
    <form #form="ngForm" (submit)="atualizaPlano()">
        <label for="titulo">Título</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="titulo" placeholder="Título" name="titulo"
                [(ngModel)]="plano.titulo" required>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="descricao" placeholder="Descrição" name="descricao"
                [(ngModel)]="plano.descricao">
        </div>
        <div class="input-group mb-3">
            <input type="number" class="form-control" id="preco" name="preco" placeholder="Preço" [(ngModel)]="plano.preco" required>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="tipo">Tipo</label>
            </div>
            <select class="custom-select" id="tipo" name="tipo" [(ngModel)]="plano.tipo" required>
                <option [value]=1>Banner superior</option>
                <option [value]=2>Catálogo Web</option>
                <option [value]=3>Classificados</option>
                <option [value]=4>Pacote completo</option>
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="ativo" name="ativo"
                [(ngModel)]="plano.ativo">
            <label class="form-check-label" for="ativo">
                Ativo
            </label>
        </div>
        <input [disabled]="form.invalid || atualizado" class="btn-lg btn-outline-success" type="submit"
            value="Atualizar">
        <div *ngIf="atualizado" class="alert alert-success" role="alert" style="padding-top: 40px;">
            Dados atualizados
        </div>
    </form>
</main>